pandas
pylab-sdk
matplotlib
scikit-learn
numpy
mpl-toolkits.clifford
scipy
snapml
opendatasets
keras
pillow
opencv-python
seaborn
skillsnetwork
torch
torchvision
torchaudio
tensorflow
tensorflow_hub
tf_slim
tensorflowjs
tfrecord
grpcio